<div class="main-container">
  <div class="main-container__sidebar">
    <h3>Library</h3>
    <ul class="links-list">
      <li><a class="sidebar-links">Audit Logs</a></li>
      <li><a class="sidebar-links">Settings</a></li>
      <li><a class="sidebar-links">Users</a></li>
      <li><a class="sidebar-links active">Loans</a></li>
      <li><a class="sidebar-links">Books</a></li>
    </ul>
  </div>

  <div class="page-container">
       <header>
        <div class="profile-details-box">
          <p-megaMenu [model]="items" styleClass="user-panel">
          </p-megaMenu>
        </div>
       </header>

       <div class="page-view">
          <h1>Test</h1>
          <router-outlet></router-outlet>
       </div>
  </div>

</div>

