<div class="main-container">
  <div class="main-container__sidebar">
    <h3>Library</h3>
    <ul class="links-list">
      <li><a routerLinkActive="active" routerLink="audit-logs" class="sidebar-links">Audit Logs</a></li>
      <li><a routerLinkActive="active" routerLink="settings" class="sidebar-links">Settings</a></li>
      <li><a routerLinkActive="active" routerLink="iam" class="sidebar-links">Users</a></li>
      <li><a routerLinkActive="active" routerLink="loan" class="sidebar-links">Loans</a></li>
      <li><a routerLinkActive="active" routerLink="book" class="sidebar-links">Books</a></li>
    </ul>
  </div>

  <div class="page-container">
    <header>
      <ng-container *ngIf="nameChanges$ | async as name">
        <app-profile-avatar [displayedName]="name + ''"></app-profile-avatar>
        <div class="profile-details-box">
          <p-megaMenu [model]="items" styleClass="user-panel">
          </p-megaMenu>
        </div>
      </ng-container>
    </header>

    <div class="page-view">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>

