<div class="loan-view">

  <div class="loan-view__container">
    <h1>Books</h1>

    <button type="button" routerLink="new" class="button" >New</button>
    <button type="button" routerLink="import" class="button" >Import</button>
    <button type="button" class="delete-button" [disabled]="true" >Delete</button>
    <button type="button" class="audit-button" >Audit Logs</button>
    <button type="button" class="audit-button" >Export to Excel</button>

    <div class="book-container">
      <app-books-form></app-books-form>
    </div>
  </div>

</div>
