<div class="box-view">

  <div class="box-view__container">
    <h1>Settings</h1>

    <button type="button" class="audit-button" >Audit Logs</button>

    <form>

      <div class="form-container">
        <div class="form-group">
          <label for="loanPeriod" class="form-label">Loan Period (In Days)</label>
          <p-inputNumber mode="decimal" id="loanPeriod" [showButtons]="true" inputId="minmax-buttons" [min]="4" [max]="20">
          </p-inputNumber>
        </div>
      </div>

    </form>

  </div>

</div>
