<div class="box-view">

  <div class="box-view__container">
    <app-back-button></app-back-button>
    <h1>Settings</h1>

    <button type="button" routerLink="/audit-logs" class="audit-button" ><i class="pi pi-history"></i>Audit Logs</button>

    <form [formGroup]="form">

      <div class="form-container">
        <div class="form-group">
          <label for="loanPeriod" class="form-label">Loan Period (In Days)</label>
          <p-inputNumber mode="decimal" id="loanPeriod" [showButtons]="true" inputId="minmax-buttons" [min]="4" [max]="20"
          formControlName="loanPeriodInDays">
          </p-inputNumber>
        </div>
      </div>

      <button type="submit" class="button" [disabled]="!form.valid" (click)="onSave()"><i class="pi pi-save"></i>Save</button>
      <button type="button" class="reset-button"><i class="pi pi-undo"></i>Reset</button>
    </form>

  </div>

</div>
