<div class="form-box">
  <form [formGroup]="form" class="form-layout">

    <!--  {{form.value | json}}-->

    <div class="form-group">
      <div class="label-box">
        <label class="form-label">Period</label>
        <p-calendar selectionMode="range" [readonlyInput]="true" formControlName="period" inputId="period" >
        </p-calendar>
      </div>
    </div>

    <div class="form-group">
      <div class="label-box">
        <label class="form-label">Entities</label>
        <p-chips inputId="entities" formControlName="entityNames" [max]=5 [allowDuplicate]="false" ></p-chips>
      </div>
    </div>

    <div class="form-group">
      <div class="label-box">
        <label class="form-label">User Email</label>
        <input type="text" class="form-input" formControlName="createdByEmail" pInputText>
      </div>
    </div>

    <div class="form-group">
      <div class="label-box">
        <label class="form-label">Entity ID</label>
        <input type="text" class="form-input" formControlName="entityId" pInputText>
      </div>
    </div>

    <div class="form-group">
      <div class="label-box">
        <label class="form-label">Action</label>
        <input type="text" class="form-input" formControlName="action" pInputText>
      </div>
    </div>

    <div class="buttons-box">
      <button class="button" (click)="onSearch()" ><i class="pi pi-search"></i>Search</button>
      <button class="reset-button" (click)="reset()"><i class="pi pi-undo"></i>Reset</button>
    </div>

  </form>

</div>
