.main-container {
  height: 100vh;
  background-color: #fff;
  display: grid;
  grid-template-columns: 55% auto;

  &__img {
    background-image: linear-gradient(rgba(#000, .5), rgba(#000, .5)), url("https://vue-library-demo.web.app/images/signin.jpg");
    width: 100%;
    background-size: cover;
    background-position: center;
  }
}
