<form [formGroup]="form" (ngSubmit)="onSignup()" class="credentials-form">
  <h2>Welcome to the Library</h2>
  <div class="form-group">
    <label class="credentials-form__label" for="email">Email</label>
    <input type="email" id="email" class="form-input" formControlName="email" pInputText>
    <p class="error-message"
      *ngIf="!form.get('email')?.valid && form.get('email')?.touched"
    >
      Please enter a valid email.
    </p>
  </div>
  <div class="form-group">
    <label class="credentials-form__label" for="password">Password</label>
    <input type="password" id="password" class="form-input" formControlName="password" pPassword />
    <p class="error-message"
       *ngIf="!submitted && !form.get('password')?.valid && form.get('password')?.touched"
    >
      Please enter a valid password.
    </p>
    <p class="error-message"
      *ngIf="submitted && form.get('password')?.errors?.['passwordStrength']"
    >
      Password needs a lower case, upper case and a numeric character.
    </p>
    <button type="submit" class="button" [disabled]="!form.valid">Sign Up</button>
    <button type="button" class="signin-account-button" (click)="onSigninRedirect()">Already have an account? Sign in.</button>
  </div>
</form>
