.form-group {
  //background-color: red;
  display: inline-block;
  margin-bottom: 2rem;

  .form-label {
    font-size: 1.4rem;
    margin-right: 1.5rem;
    width: 5rem;
  }
}

.buttons-box {
  text-align: end;
  //background-color: red;

  .reset-button {
    font-size: 1.4rem;
    color: rgba(28, 27, 27, 0.85);
    font-weight: 500;
    padding: 1.2rem 2rem;
    border: 1px solid rgba(0,0,0, .2);
    border-radius: 4px;
    transition: all .2s;
    margin: 2rem 2.2rem 0 0;
    background-color: #fff;

    &:hover {
      color: var(--buttons-color);
      background-color: rgba(61, 135, 229, .2);
      border-color: rgba(61, 135, 229, .2);
    }

    &:active {
      color: rgba(61, 135, 229, .4);
      background-color: rgba(61, 135, 229, .25);
    }
  }

}
